alabaster==0.7.12
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
certifi==2022.12.07
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
dj-database-url==0.5.0
Django==5.1.7
django-csp==3.7
django-redis==4.12.1
djangorestframework==3.16.0
docutils==0.16
gunicorn>=23.0.0
idna==3.10
imagesize==1.2.0
importlib-metadata==3.3.0
iniconfig==1.1.1
ipython==9.1.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.1.6
MarkupSafe==1.1.1
model-mommy==2.0.0
more-itertools==8.6.0
packaging==20.8
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pip-review==1.1.0
pluggy==0.13.1
prompt-toolkit==3.0.8
psycopg2==2.9.10
ptyprocess==0.6.0
py==1.11.0
Pygments==2.19.1
pyparsing==2.4.7
pytest==6.2.0
pytz==2020.4
redis==3.5.3
requests==2.32.3
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.5.3
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==2.3.0
wcwidth==0.2.5
whitenoise==5.2.0
zipp==3.21.0
